DATE=$(date "+%Y-%m-%d")
DAY=$(date +%w)
BASE=/path/to/music/
DOSLOG=${SCRIPT_DIR}/logs
LOG=${DOSLOG}/${DATE}-beets_import_auto.txt
BEETS_ENV=path/to/python/beets/env
BASE_BEETS=/path/to/beets/database/
CONFIG_MANUEL=${BASE_BEETS}config.yaml.manuel
CONFIG_NORMAL=${BASE_BEETS}config.yaml.normal
CONFIG=${BASE_BEETS}config.yaml

RED='\033[0;31m' #code couleur pour les mauvaises réponses
GREEN='\033[0;32m' #code couleur pour les bonnes réponses
NC='\033[0m' # No Color 
BOLD='\033[1m' #code pour mettre en gras le texte
SAISPAS='\e[1;33;41m' #code pour la couleur d'arrière plan 1;33 pour le jaune, 44 pour le rouge